*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Roboto Condensed", sans-serif;
    background: #efefef;
    min-height: 100vh;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }


.form-fill{
    max-width: 100%;
    display:grid;
    grid-template-columns:1fr 1fr;
    background-color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    height: auto;
    width:max-content;
    padding: 20px 16px;
    border-radius: 15px;
    position: relative;
}

.form-fill h1{
    color: #000;
    padding: 10px;
    text-align: left;
}


.form-right{
    display: grid;
}

.form-right img{
    height:100%;
    width:380px;
    display: flex;
}

.form-left{
    display: grid;
}

.input-box{
    padding:7px;
}

.form-fill .view{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    margin-bottom:5px;
    padding: 8px 10px;
    padding: 7px 0; 
    border-bottom: 2px solid #ccc;
    position: relative;
}


.form-fill ::placeholder{
    font-size: 14px;
}

.form-check{
    margin-top: 12px;
}


.btns{
    width: 50%; 
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.btns a{
    color: white;
    padding: 14px;
    cursor: pointer;
    font-size:1.2rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #f87622;
    background: linear-gradient(165.62deg,#ff702a -104.55%,#c507c9 216.3%);
}



.btns a:hover{
    background: transparent;
    color: black;
}


.log{
    padding: 25px;
    display: flex;
    justify-content: flex-end;
}

.log a{
    text-decoration: none;
    margin-left: 10px;
    color: orangered;
}

.verify{
    visibility: hidden;
    position: absolute;
    transform: translate(-50%,-50%) scale(.1);
    top: 0;
    left: 50%;
    background: #efefef;
    padding: 10px 10px;
    border-radius: 10px;
    border-bottom: 5px solid green;
    width: 20%;
    max-width: 100%;
    text-align: center;
    color: green;
    z-index: 900;
    transition: transform .5s, top .5s ease;
}


.details{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    top: 40px;
    left: 50%;
    transition: transform .5s, top .5s ease;
}




@media screen and (max-width:700px){
    body{
        background: transparent;
    }
    header{
        background: url(./phts/img2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-fill{
        display: flex;
        flex-direction: column;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        padding: 20px 20px;
        width: calc(100% - 40px);
        border-radius:10px;
        max-height:min-content;
        color: #fff;
    }

    .form-fill ::placeholder{
        color: silver;
    }

    .form-left h1{
        color: #efefef;
    }

    .form-fill .view{
        background: transparent;
    }

    .form-check-label,.btns a, .log span{
        color: #fff
    }

    .form-check-label a{
        color: #f87622;
    }
    .form-right {
        display: none;
    }
    .verify{
        width: max-content;
        max-width: 100%;
    }
}

@media screen and (max-width:375px){
    .btns{
        width: 100%;
    }

    .log{
        width: 100%;
        display: block;
    }
}